= form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :revision
    = f.text_field :revision
  .field
    = f.label :revision_date
    = f.date_select :revision_date
  .field
    = f.label :document_type
    = f.number_field :document_type
  .field
    = f.label :department
    = f.text_field :department
  .actions
    = f.submit 'Save'
