= form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name, 'Nombre'
    = f.text_field :name
  .field
    = f.label :code, 'Código'
    = f.text_field :code
  .field
    = f.label :revision, 'Revisión'
    = f.text_field :revision
  .field
    = f.label :revision_date, 'Fecha de revisión'
    =f.text_field :revision_date, class: "datepicker",placeholder:'Selecciona la fecha de término', type:'date'
  .field
    = f.label :document_type, 'Tipo de documento'
    = f.select :document_type, Document::DOCUMENT_TYPES.invert
  .field
    = f.label :department_id, 'Departamento'
    = f.collection_select(:department_id, Department.all, :id, :name)
  .actions
    = f.submit 'Save'

