.row
  = form_for document do |f|
    - if document.errors.any?
      #error_explanation
        %h2= "#{pluralize(document.errors.count, "error")} prohibited this document from being saved:"
        %ul
          - document.errors.full_messages.each do |message|
            %li= message
    .row

      .input-field.col.s12
        = f.label :name, 'Nombre'
        = f.text_field :name
    .row
      .input-field.col.s12.m6
        = f.label :code, 'Código'
        = f.text_field :code
      .input-field.col.s12.m6
        = f.label :revision, 'Revisión'
        = f.text_field :revision
    .row
      .input-field.col.s12.m6
        = f.label :revision_date, 'Fecha de revisión', class:'active'
        =f.text_field :revision_date, class: "datepicker",placeholder:'Selecciona la fecha de término', type:'date'
      .input-field.col.s12.m6
        = f.label :document_type, 'Tipo de documento', class:'active'
        = f.select :document_type, Document::DOCUMENT_TYPES.invert
      = f.hidden_field :department_id, value:department.id

    .row
      .col.s12
        =f.submit 'Guardar', class:'btn btn-large purple right'

:javascript
  $('select').material_select();
  //Materialize.updateTextFields();
   $('.datepicker').pickadate({

        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,

        // The title label to use for the month nav buttons
        labelMonthNext: 'Mes siguiente',
        labelMonthPrev: 'Mes anterior',

        // The title label to use for the dropdown selectors
        labelMonthSelect: 'Selecciona un mes',
        labelYearSelect: 'Selecciona un año',

        // Months and weekdays
        monthsFull: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
        monthsShort: [ 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic' ],
        weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado' ],
        weekdaysShort: [ 'Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab' ],

        // Materialize modified
        weekdaysLetter: [ 'D', 'L', 'M', 'X', 'J', 'V', 'S' ],

        // Today and clear
        today: 'Hoy',
        clear: 'Limpiar',
        close: 'Cerrar',

        format: 'yyyy-mm-dd'
    });