%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to "/#{@department.name.downcase}/documentos", class:'breadcrumb' do
          =@department.name
        %a.breadcrumb{}
          =@document.name

%p
  %b Nombre:
  = @document.name
%p
  %b Código:
  = @document.code
%p
  %b Revisión:
  = @document.revision
%p
  %b Fecha de última revisión:
  = @document.revision_date
%p
  %b Tipo de documento:
  = @document.get_document_type
%p
  %b Departmento:
  = @document.department.name