!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Calidad
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      %nav
        .nav-wrapper.navbar
          %a.brand-logo{:href => "#!"} Calidad
          %a.button-collapse{"data-activates" => "mobile-nav", :href => "#"}
            %i.material-icons menu
          %ul.right.hide-on-med-and-down
            %li{class:"#{active_class('/documents')} #{'active' if request.path.eql?'/'}"}
              %a{:href => "/"} Documentos
            %li{class:active_class('/users')}
              %a{:href => "/users"} Usuarios
          %ul#mobile-nav.side-nav
            %li
              %a{:href => "/"} Documentos
            %li
              %a{:href => "/users"} Usuarios

    %main
      .container
        = yield
