!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Calidad
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.9/css/all.css", :integrity => "sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag

  %body
    %ul#slide-out.side-nav.fixed
      %li
        .user-view
          .background
            = image_tag "cimav1.png"
          %a
            %img.circle{:src => "http://cimav.edu.mx/foto/#{current_user.email.split('@')[0]}/400"}/
          %a
            %span.white-text.name
              =current_user.name
          %a
            %span.white-text.email
              =current_user.email
      %li
        %a.subheader Departamentos
      -Department.all.each do |department|
        %li{class:"#{active_class(department.name.downcase)}"}
          %a.waves-effect{:href => "/#{department.name.downcase}/documentos"}
            =department.name
      %li
        .divider
      %li
        %a{href:'/logout'}
          %i.material-icons> exit_to_app
          Cerrar sesión
    %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
      %i.material-icons menu



    %main
      .container
        = yield

/ Mensajes
-if alert
  -alert.each do |error|
    :javascript
      Materialize.toast("#{error}", 4500, 'orange darken-4')
:javascript
      Materialize.toast("#{notice}", 3000)